body {
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(#FF0018 0%, #FFA52C 16.66%, #FF0 33.33%, #00811F 50%, #0000F9 66.66%, #86007D 83.33%, #FF0018 100%);
    padding-top: 60px;
    padding-bottom: 100px;
   
}
.flex{ 
    display: flex;
    margin: 60;
    padding: 50;  
    justify-content: space-around  
}  

.blocks{
    display: inline-block;
    margin: 0;
    padding: 0; 
}
.end {
    display: flex;
    margin: 60;
    padding: 50;  
    justify-content: space-around;  
    color: white;
    background: linear-gradient(90deg, rgb(9, 5, 78) 0%, rgb(32, 32, 194) 0%, rgba(0, 212, 255, 1) 100%);
}
.buy {
background-color: rgb(202, 218, 241);
}
.container {
    display: flex;
}
.text {
    display: flex;
    margin-right: -373px;
    margin-left: 300px;
} 
.container-row{
    display: flex;
    margin-right: -373px;
    margin-left: 300px;
}
.multi .line {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid transparent;
    opacity: 0;
    animation: blink-cursor .75s step-end infinite;
}
.need {
    display: flex;
    margin: 60;
    padding: 50;  
    background-color:rgb(255, 255, 255);
    justify-content: space-around;  
}
.logotip:hover {
    transform: scale(3);
}
.feetback{
    background-color: rgb(202, 218, 241);
}
.step1 {
    width: 900px;
    margin: auto;
}
.wallpaper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}
.form2{
    flex-direction: column;
    margin: 60;
    padding: 50;  
    justify-content: space-around;  
    color: rgb(0, 0, 0);
}
  .blocks {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.blocks:hover {
-webkit-transform: rotate(360deg); /* Градусы поворота можно изменить по необходимости */
    transform: rotate(360deg); /* Градусы поворота можно изменить по необходимости */
}
.button {
    width: 220px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background: linear-gradient(#FF0018 0%, #FFA52C 16.66%, #FF0 33.33%, #00811F 50%, #0000F9 66.66%, #86007D 83.33%, #FF0018 100%);
    animation: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: all 0.5;
    font-family: 'Ubuntu', sans-serif;
}


.image-parlax{
    width: 10%; /* Ширина изображения */
    cursor: pointer;
  }
  .image-container{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 300px;
        perspective: 300px;
  }
  .front-side, .back-side{
    background-size: cover;
    background-position: center;
    min-height: 350px; /* Высота изображения */
    height: auto;
    border-radius: 50%; /* Скругление углов */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
  }
  .back-side{
    background: #343434;
    background: -webkit-linear-gradient(45deg,  #343434 0%,#000000 100%);
    background: -o-linear-gradient(45deg,  #343434 0%,#000000 100%);
    background: linear-gradient(45deg,  #343434 0%,#000000 100%);
  }
  .front-side:after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
    border-radius: 50%; /* Скругление углов */
  }
  .image-container:hover .front-side,
  .image-container:hover .back-side{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  .back-side{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
              box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
              perspective: inherit;
    z-index: 2;
  }
  .image-container .back-side{
    -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  .image-container .front-side{
    -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  .image-container:hover .back-side{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  .image-container:hover .front-side{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  .front-side .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }
  .front-side .inner p:after{
    content: '';
    width: 4rem;
    height: 1px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }
  .front-side .inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 150;
  }
@media (max-width: 1650px) {
header {
padding-top: 30px;
padding-bottom: 50px;
}

.flex {
    margin: 30px;
    padding: 20px; 
}

.end {
    margin: 30px;
    padding: 20px; 
}

.text {
    margin-right: -200px;
    margin-left: 150px;
}

.container-row {
    margin-right: -200px;
    margin-left: 150px;
}

.step1 {
    width: 600px;
}

.button {
    width: 150px;
    height: 30px;
    font-size: 12px;
}

.image-parlax {
    width: 5%;
}

.inner p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.front-side .inner span {
    font-weight: 100;
}
